/* --------  Mobile Device ------- */
@media (min-width:320px) and (max-width:575px) {
    body{
        overflow-x: hidden;
    }
    nav{
        background: rgba(29, 27, 27,.5) !important;
    }
    .navbar{
        padding-bottom: 0px !important;
    }
    .navbar-toggler:focus{
        box-shadow: none;
        outline: none;
    }
    .navbar-toggler-icon i{
       color: #ffffff !important;
       margin-top: 8px;
    }
    .responsive__mode{
        text-align: center;
    }
 
    nav ul li a{
        font-size: 18px;
    }
    .responsive__mode{
        text-align: center;
        background:#000000;
        border: 1px solid #ec4d37;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;  
    }
    #banner__section{
        padding-top: 80px;
        background: url(../images/banner/blg3.webp)no-repeat center;
        background-size: cover;
    }
    #banner__section::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(27, 29, 29,.8);
        content: "";
        z-index: -1;
    }
    #banner__section h2{
        text-align: center;
        font-size: 35px;
        font-weight: 600;
    }
    #banner__section h2 .span{
        font-size: 72px;
        font-weight: 700;
        display: block;
    }

    #banner__section h4{
        text-align: center;
        font-size: 14px;
    }
    .bnr__img{
        display: none;
    }
    #about__section{
        padding-top: 40px;
    }
    .abt__img{
        width: 92%;
    }
    .abt__txt h4{
        font-size: 24px;
        padding-bottom: 0px;
    }
    .title h2{
        font-size: 28px !important;
        margin-bottom: 15px;
    }
    .title p{
        padding: 0 0 !important;
        font-size: 14px !important;
    }
    .cmn__button a{
        font-size: 18px;
        font-weight: 500;
    }
    .exp__txt{
        padding-left: 0px;
    }
    .exp__txt h2{
        font-size: 22px;
        text-shadow: none;
    }
    .exp__img img {
        width: 100%;
    }
    .exp__txt p{
        font-size: 20px;
        padding-right: 0px;
    }
    #order__section p{
        padding: 0 0;
        font-size: 14px;
    }
    #order__section a{
        font-size: 38px;
    }
    .exp__txt .button a{
        font-size: 17px;
        font-weight: 500;
    }
    #portfolio__section{
        padding-bottom: 0px;
        padding-top: 74px;
    }
    #blog__section .blog__txt h2{
        font-size: 24px;
    }
    #blog__section .blog__txt .cmn__button a{
        display: none;
    }
    #blog__section .blog__txt .post__date{
        position:relative;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        bottom: -20px;
        left: 0;
       }
    #blog__section .blog__txt .post__date li a{
           font-size: 15px;
       }

    .blog__img{
        margin-top: 30px;
    }
    .read__blog{
        top: -24%;
        left: -6%;
    }
    .read__blog a{
       font-size: 18px;
    }
    .blg__rspn__btn{
        display: block;
    }
    .blg__rspn__btn a{
        font-size: 14px;
    }
    #blog__section .blog__txt p{
        font-size: 14px;
        color: #474747;
    }
    .blg__writter a{
        font-size: 18px;
    }
    .blg__date{
        padding-top: 232px;
    }
    #process__section{
        padding-top: 25px;
    }
    #process__section .process__part .process{
        width: 120px;
        height: 120px;
        margin-left: 0;
        margin-top: 10px;
        position: relative;
    }
    #process__section .process__part .process span{
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #ec4d37;
        background: #ffffff;
        width: 30px;
        height: 30px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        line-height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    #process__section .process__part .process p{
        font-size: 18px;
    }
    #process__section .process__part {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #process__section .process__part::after {
        display: none;
    }
    #process__section .process__part .process::after{
        display: none;
    }
    #client__review__section .title{
        margin-bottom: 0;
    }
    .client__img__slider{
        width: 100%;
        width: 100%;
    }
    #client__review__section .client__img{
        margin: 0 5px;
        width: 100%;
        height: 100%;
        border: 2px solid #ec4d37;
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
}
    .client__img__slider .slick-list{
        padding: 40px 0 !important;
    }
    #client__review__section .client__img__slider .slick-center{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
    #client__review__section .client__img__slider .slick-center img{
        filter:grayscale(0%);
        -webkit-filter:grayscale(0%);
        
}
    #client__review__section .client__img img{
     width: 100%;
     height: 100px;
     filter:grayscale(100%);
     -webkit-filter:grayscale(100%);
}
    .client__img__slider::after{
        position: absolute;
        top: 50%;
        left: -15px;
        background: #ec4d37;
        width: 110%;
        height: 2px;
        content: "";
        z-index: -1;
    }
    .client__review__slider{
        margin-top: 0px;
    }
    .client__review__slider::after{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-100%);
        transform: translate(-100%,-50%);
        -webkit-transform: translate(-50%,-100%);
        -moz-transform: translate(-50%,-100%);
        -ms-transform: translate(-50%,-100%);
        -o-transform: translate(-50%,-100%);
        width: 2px;
        height: 53%;
        background: #ec4d37;
        content: "";
    }
    .client__review .client h2{
        font-size: 24px;
    }
    .client__review .client h4{
        font-size: 14px;
    }
    .client__review .client span i{
        font-size: 10px;
    }
    .client__review .client p{
        font-size: 14px;
    }
    .contact__img{
        display: none;
    }














    footer{
        padding-top: 0px;
    }
    footer .quick__link{
        padding-top: 0;
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        padding-bottom: 5px;
    }
    footer .quick__link ul li{
        display:inline-block;
    }
    footer .quick__link ul li a{
        font-size: 20px;
        margin-left: 10px;
    }
    footer address{
        padding-top: 10px;
        font-size: 16px;
    }
    footer p{
        padding-bottom: 20px;
        padding-top: 40px;
        font-size: 16px;
    }


}
/* -------- Teblet Device ------- */
@media (min-width:576px) and (max-width:767px) {
    body{
        overflow-x: hidden;
    }
    nav{
        background: rgba(29, 27, 27,.5) !important;
    }
    .navbar{
        padding-bottom: 0px !important;
    }
    .navbar-toggler:focus{
        box-shadow: none;
        outline: none;
    }
    .navbar-toggler-icon i{
       color: #ffffff !important;
       margin-top: 8px;
    }
    .responsive__mode{
        text-align: center;
    }
 
    nav ul li a{
        font-size: 18px;
    }
    .responsive__mode{
        text-align: center;
        background:#000000;
        border: 1px solid #ec4d37;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;  
    }
    #banner__section{
        padding-top: 100px;
        background: url(../images/banner/blg3.webp)no-repeat center;
        background-size: cover;
        padding-bottom: 162px;
    }
    #banner__section::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(27, 29, 29,.8);
        content: "";
        z-index: -1;
    }
    #banner__section h2{
        text-align: center;
        font-size: 35px;
        font-weight: 600;
    }
    #banner__section h2 .span{
        font-size: 72px;
        font-weight: 700;
        display: block;
    }

    #banner__section h4{
        text-align: center;
        font-size: 14px;
    }
    .bnr__img{
        display: none;
    }
    .abt__img{
        width: 92%;
    }
    .abt__txt h4{
        font-size: 24px;
        padding-bottom: 0px;
    }
    .title h2{
        font-size: 38px;
        margin-bottom: 16px;
    }
    .title p{
        line-height: 1.3;
        padding: 0 15px !important;
        font-size: 18px !important;
    }
    .title p::after{
        bottom: -20%;
    }
    .cmn__button a{
        font-size: 18px;
        font-weight: 500;
    }
    .exp__txt{
        padding-left: 0px;
    }

    .exp__img img {
        width: 100%;
    }
    .exp__txt p{
        font-size: 20px;
        padding-right: 0px;
    }
    .exp__txt .button a{
        font-size: 20px;
        font-weight: 500;
    }
    #blog__section .blog__txt .cmn__button a{
        display: none;
    }
    #blog__section .blog__txt .post__date{
        position:relative;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        bottom: 5px;
        left: 0;
       }
    #blog__section .blog__txt .post__date li a{
           font-size: 22px;
       }
    .read__blog{
        top: -26%;
    }
    .read__blog a{
       font-size: 18px;
    }
    .blg__rspn__btn{
        display: block;
    }
    .blg__rspn__btn a{
        font-size: 14px;
    }
    #blog__section .blog__txt p{
        font-size: 14px;
        color: #474747;
    }
    .blg__writter a{
        font-size: 20px;
    }
    #portfolio__section{
        padding-bottom: 0px;
    }
    #process__section .process__part .process{
        width: 120px;
        height: 120px;
        margin-left: 0;
        margin-top: 10px;
        position: relative;
    }
    #process__section .process__part .process span{
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #ec4d37;
        background: #ffffff;
        width: 30px;
        height: 30px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        line-height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    #process__section .process__part .process p{
        font-size: 18px;
    }
    #process__section .process__part {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #process__section .process__part::after {
        display: none;
    }
    #process__section .process__part .process::after{
        display: none;
    }
    #client__review__section .title{
        margin-bottom: 0;
    }
    .client__img__slider{
        width: 100%;
        width: 100%;
    }
    #client__review__section .client__img{
        margin: 0 5px;
        width: 50%;
        height: 80% !important;
        border: 2px solid #ec4d37;
        transform: scale(.7);
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
}
    .client__img__slider .slick-list{
        padding: 40px 0 !important;
    }
    #client__review__section .client__img__slider .slick-center{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
    #client__review__section .client__img__slider .slick-center img{
        filter:grayscale(0%);
        -webkit-filter:grayscale(0%);
        
}
    #client__review__section .client__img img{
     width: 100%;
     height: 150px;
     filter:grayscale(100%);
     -webkit-filter:grayscale(100%);
}
    .client__img__slider::after{
        position: absolute;
        top: 50%;
        left: -15px;
        background: #ec4d37;
        width: 110%;
        height: 2px;
        content: "";
        z-index: -1;
    }
    .client__review__slider{
        margin-top: 0px;
    }
    .client__review__slider::after{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-100%);
        transform: translate(-100%,-50%);
        -webkit-transform: translate(-50%,-100%);
        -moz-transform: translate(-50%,-100%);
        -ms-transform: translate(-50%,-100%);
        -o-transform: translate(-50%,-100%);
        width: 2px;
        height: 53%;
        background: #ec4d37;
        content: "";
    }
    .client__review .client h2{
        font-size: 24px;
    }
    .client__review .client h4{
        font-size: 14px;
    }
    .client__review .client span i{
        font-size: 10px;
    }
    .client__review .client p{
        font-size: 14px;
    }
    .contact__img{
        display: none;
    }

    footer{
        padding-top: 0px;
    }
    footer .quick__link{
        padding-top: 0;
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        padding-bottom: 5px;
    }
    footer .quick__link ul li{
        display:inline-block;
    }
    footer .quick__link ul li a{
        font-size: 22px;
        margin-left: 15px;
    }
    footer address{
        padding-top: 10px;
        font-size: 16px;
    }
    footer p{
        padding-bottom: 20px;
        padding-top: 40px;
        font-size: 16px;
    }

}
/* -------- Laptop Device ------- */
@media (min-width:768px) and (max-width:991px) {
    body{
        overflow-x: hidden;
    }
    nav{
        background: rgba(29, 27, 27,.5) !important;
    }
    .navbar{
        padding-bottom: 0px !important;
    }
    .navbar-toggler:focus{
        box-shadow: none;
        outline: none;
    }
    .navbar-toggler-icon i{
       color: #ffffff !important;
       margin-top: 8px;
    }
    .responsive__mode{
        text-align: center;
    }
 
    nav ul li a{
        font-size: 22px;
    }
    .responsive__mode{
        text-align: center;
        background:#000000;
        border: 1px solid #ec4d37;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;  
    }
    #banner__section{
        padding-top: 100px;
        background: url(../images/banner/blg3.webp)no-repeat center;
        background-size: cover;
        padding-bottom: 162px;
    }
    #banner__section::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(27, 29, 29,.8);
        content: "";
        z-index: -1;
    }
    #banner__section h2{
        text-align: center;
        font-size: 45px;
        font-weight: 600;
    }
    #banner__section h2 .span{
        font-size: 85px;
        font-weight: 700;
        display: block;
    }

    #banner__section h4{
        text-align: center;
        font-size: 14px;
    }
    .bnr__img{
        display: none;
    }
    #about__section{
        padding-top: 108px;
    }
    .abt__img{
        width: 92%;
    }
    .abt__txt h4{
        font-size: 24px;
        padding-bottom: 0px;
    }
    .title h2{
        font-size: 38px;
        margin-bottom: 16px;
    }
    .title p{
        line-height: 1.3;
        padding: 0 15px;
        font-size: 20px;
    }
    .title p::after{
        bottom: -20%;
    }
    .cmn__button a{
        font-size: 18px;
        font-weight: 500;
    }
    #experience__section{
        padding: 40px 0 20px 0;
    }
    .exp__txt{
        padding-left: 0px;
    }
    .exp__txt h2{
        font-size: 18px;
    }
    .exp__txt h2 span{
        font-size: 66px;
    }
    .exp__img img {
        width: 100%;
        margin-top: 50px;
    }
    .exp__txt p{
        font-size: 20px;
        padding-right: 0px;
    }
    .exp__txt .button a{
        font-size: 16px;
        font-weight: 400;
    }
    #portfolio__section svg{
        top: -1%;
    }
    #portfolio__section{
        position: relative;
    }
    #portfolio__section .cmn__button {
        position: absolute;
        bottom: 17%;
        right: 12%;
    }
    #blog__section .blog__txt .cmn__button a{
        display: none;
    }
    #blog__section .blog__txt .post__date{
        position:relative;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        bottom: 0;
        left: 0;
       }
    #blog__section .blog__txt .post__date li a{
           font-size: 20px;
       }
    #order__section p{
           padding: 0 0 !important;
           font-size: 16px;
    }
    .read__blog{
        top: -26%;
    }
    .read__blog a{
       font-size: 18px;
    }
    .blg__rspn__btn{
        display: block;
    }
    .blg__rspn__btn a{
        font-size: 14px;
    }
    #blog__section .blog__txt p{
        font-size: 14px;
        color: #474747;
    }
    .blg__writter a{
        font-size: 20px;
    }
    #portfolio__section{
        padding-bottom: 0px;
    }
    .blg__date{
        padding-top: 34%;
    }
    .blog__img{
        margin-top: 20px;
    }
    #process__section .process__part .process{
        width: 120px;
        height: 120px;
        margin-left: 0;
        margin-top: 10px;
        position: relative;
    }
    #process__section .process__part .process span{
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #ec4d37;
        background: #ffffff;
        width: 30px;
        height: 30px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        line-height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    #process__section .process__part .process p{
        font-size: 18px;
    }
    #process__section .process__part {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #process__section .process__part::after {
        display: none;
    }
    #process__section .process__part .process::after{
        display: none;
    }
    .client__review__slider{
        margin-top: 100px;
    }
    .client__review .client h2{
        font-size: 26px;
    }
    .client__review .client h4{
        font-size: 18px;
    }
    .client__review .client p{
        font-size: 10px;
    }
    .client__review .client p{
        font-size: 14px;
    }
    .contact__img img{
        height: 84%;
    }
    footer{
        padding-top: 0px !important;
    }
    footer .quick__link{
        padding-top: 0;
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        padding-bottom: 5px;
    }
    footer .quick__link ul li{
        display:inline-block;
    }
    footer .quick__link ul li a{
        font-size: 22px;
        margin-left: 15px;
    }
    footer address{
        padding-top: 10px;
        font-size: 16px;
    }
    footer p{
        padding-bottom: 20px;
        padding-top: 40px;
        font-size: 16px;
    }


}

/* --------Large Laptop Device ------- */
@media (min-width:992px) and (max-width:1023px) {
    .bnr__img img{
        height: 370px;
    }
    .abt__txt h4{
        padding-bottom: 0;
    }
    .abt__txt p {
        font-size: 20px;
    }
    .exp__txt h2 span {
        font-size: 78px;
        margin-bottom: -22px;
        margin-top: -35px;
    }
    .exp__txt h2{
        font-size: 32px;
    }
    .exp__txt p{
        font-size: 20px;
        padding-right: 15px;
        line-height: 1.3;
    }
    .exp__txt .button a{
        font-size: 20px;
    }
    #blog__section .blog__txt .post__date{
        right: -48%;
        bottom: 35px;
       }
     #blog__section .blog__txt .post__date li a{
           font-size: 20px;
       }
    .read__blog{
        top: -26%;
        left: -4%;
    }
    .read__blog a{
       font-size: 18px;
    }
    #blog__section .blog__txt p{
        font-size: 14px;
        color: #474747;
    }
    .blg__writter a{
        font-size: 20px;
    }
    #portfolio__section{
        padding-bottom: 0px;
    }
    .blg__date{
        padding-top: 55%;
    }
    .blog__img{
        margin-top: 20px;
    }
    /* footer{
        padding-top: 0px !important;
    } */

}
@media (min-width:1024px) and (max-width:1199px) {
    .exp__txt h2 span {
        font-size: 78px;
        margin-bottom: -22px;
        margin-top: -35px;
    }
    .exp__txt h2{
        font-size: 32px;
    }
    .exp__txt p{
        font-size: 20px;
        padding-right: 15px;
        line-height: 1.3;
    }
    .exp__txt .button a{
        font-size: 20px;
    }
    #blog__section .blog__txt .post__date{
        right: -45%;
        bottom: 66px;
       }
     #blog__section .blog__txt .post__date li a{
           font-size: 20px;
    }
    #blog__section .cmn__button a{
        margin-top: 35px;
    }
    .read__blog{
        top: -26%;
        left: -4%;
    }
    .read__blog a{
       font-size: 18px;
    }
    #blog__section .blog__txt p{
        font-size: 14px;
        color: #474747;
    }
    .blg__writter a{
        font-size: 20px;
    }
    #portfolio__section{
        padding-bottom: 0px;
    }
    .blg__date{
        padding-top: 55%;
    }
    .blog__img{
        margin-top: 20px;
    }
}
